// Freeform Brand Colors

$brand-color-primary: $cyan;
$brand-color-secondary: $secondary;
$brand-color-accent: $blue;
$brand-font: Arial;

// Freeform Optional Brand Colors

$brand-color-info: $teal;
$brand-color-success: $green;
$brand-color-warning: $yellow;
$brand-color-danger: $red;
$brand-color-light: $light;
$brand-color-dark: $dark;